# Assignment 3

#### Q1. What are the characteristics of the tuples? Is tuple immutable?

#### Ans.The major characteristics of tuples are:
* Tuples is a collection of items.
* In tuples, items are unordered.
* Tuples are immutable
* Tuple items are indexable
* Tuple allows duplicate values

#### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

#### Ans. The two tuple methods in python are count and index The tuples has only two in-built methods as compared to lists because tuples are immutable or unchangeable.

In [1]:
tuple1=(1,2,3,'jp',3,'vj',3.5,True)

In [2]:
tuple1

(1, 2, 3, 'jp', 3, 'vj', 3.5, True)

In [3]:
#Example of count method in tuple
#count the number of 3 in tuple1
tuple1.count(3)

2

In [4]:
#Example of index method in tuple
#find the index of value 3 in tuple1
tuple1.index(3)

2

#### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
* List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#### Ans.Set in python don't allows duplicate items.

In [5]:
# code using a set to remove duplicates from the given list.
List1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [6]:
set(List1)

{1, 2, 3, 4}

#### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

#### Ans.The difference between union() and update method for a set are:
* Union method returns the all the elements present in set1 and set2 without updating set1 and set2.
* Update method add the value of a set to another set and update the set.

In [8]:
set1={1,2,3,4}
set2={2,3,4,5}

In [9]:
set1

{1, 2, 3, 4}

In [10]:
set2

{2, 3, 4, 5}

In [11]:
#Example of union() method
set1.union(set2)

{1, 2, 3, 4, 5}

In [12]:
set1

{1, 2, 3, 4}

In [13]:
set2

{2, 3, 4, 5}

In [17]:
#Example of update() method
set1.update(set2) #update value of set1

In [18]:
set1

{1, 2, 3, 4, 5}

In [19]:
set2

{2, 3, 4, 5}

#### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

#### Ans.The dicitonary is a datastructure in python which stores the collection of key-value pairs. The dictionary is ordered and not allow duplicates.

In [20]:
#Example of dictionary
#create a dictionary d
d={'Name':'Jp','Class':'3rd year','Number':37628767}

In [21]:
type(d)

dict

#### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

#### Ans.Yes we can create a nested dictionary.

In [22]:
#Example of nested dictionary
#create a nested dictionary d1
d1={'name':{'First':'Jp','Last':'Karwa'},'class':{'year':3,'semester':5}}

In [23]:
type(d1)

dict

#### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
* dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [24]:
#given dictionary
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [27]:
dict1.setdefault('topics',['Python','Machine Learning','Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [28]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
* dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

#### Ans.The three view objects in dictionaries are:
* Keys
* Values
* Items

In [29]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [30]:
#Method to display keys
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [31]:
#Method to displat values
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [32]:
#Method to displat items
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])