# Assignment 2

#### Q1.Write a program to accept percentage from user and display the grade according to following criteria: 
|     Marks     | Grade |
|---------------|-------|
| >90           |   A   |
|>80 and <=90   |   B   |
|>=60 and <=80  |   C   |
|below 60       |   D   |

In [2]:
marks=int(input('Enter the marks'))

if marks>90:
    print('A')
elif marks>80 and marks<=90:
    print('B')
elif marks>=60 and marks<=80:
    print('C')
else:
    print('D')

Enter the marks 90

B

#### Q2.Write a program to accept cost price of a bike and display the road tax to be paid according to following criteria: 
| Tax | Cost Price(in Rs) |
|-----|-------------------|
| 15% |    >100000        |
| 10% |>50000 and <=100000|
| 5%  |    <=50000        |

In [3]:
cost_price=int(input('Enter the cost price in Rs.'))

if cost_price>100000:
    print(0.15*cost_price)
elif cost_price>50000 and cost_price<=100000:
    print(0.1*cost_price)
else:
    print(0.05*cost_price)

Enter the cost price in Rs. 50000

2500.0

#### Q3.Write a program to accept any city from user and display monuments of that city: 
| City  |   Monument   |
|-------|--------------|
| Delhi |   Red Fort   |
| Agra  |   Taj Mahal  |
|Jaipur |   Hawa Mahal |

In [4]:
city=input('Enter the city')

if city=='Delhi':
    print('Red Fort')
if city=='Agra':
    print('Taj Mahal')
if city=='Jaipur':
    print('Hawa Mahal')

Enter the city Jaipur

Hawa Mahal

#### Q4.Check how many time a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
number=int(input('Enter the number'))
times=0
while number>10:
    if number%3==0:
        times=times+1
        number=number/3
print(times)

Enter the number 36

2

#### Q5.Why and when to use while loop in python give a detailed description with example?
#### Ans.We use while loop when we not know about number of iterations. It runs until and unless condition is true

In [6]:
#example of while loop
#print the number from 1 to 10
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

#### Q6.Use nested while loop to print 3 different pattern.
#### Ans.The three patterns are

In [13]:
#Pattern 1 - Rectangle pattern
rows=3
cols=5
i=0
while i<rows:
    j=0
    while j<cols:
        print('*',end=" ")
        j=j+1
    i=i+1
    print()

* * * * *
* * * * *
* * * * *

In [15]:
#Pattern 2 - Square pattern
sides=4
i=0
while i<sides:
    j=0
    while j<sides:
        print('*',end=" ")
        j=j+1
    i=i+1
    print()

* * * *
* * * *
* * * *
* * * *

In [17]:
#Pattern 3 - Rectangular number pattern
rows=3
cols=5
i=1
while i<=rows:
    j=1
    while j<=cols:
        print(j,end=" ")
        j=j+1
    i=i+1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

#### Q7. Reverse a while loop to display numbers from 10 to 1.

In [19]:
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

#### Q8. Reverse a while loop to display numbers from 10 to 1.

In [20]:
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1